
$background: #0f141a;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #2d3137;

$inverse_primary: #556519;

$inverse_surface: #dfe2eb;

$on_background: #dfe2eb;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #2a3500;

$on_primary_container: #d8ec90;

$on_primary_fixed: #171e00;

$on_primary_fixed_variant: #3e4c00;

$on_secondary: #422741;

$on_secondary_container: #ffd6f8;

$on_secondary_fixed: #2b122b;

$on_secondary_fixed_variant: #5a3d58;

$on_surface: #dfe2eb;

$on_surface_variant: #c0c7d5;

$on_tertiary: #0b3157;

$on_tertiary_container: #d3e3ff;

$on_tertiary_fixed: #001c39;

$on_tertiary_fixed_variant: #28486f;

$outline: #8a919f;

$outline_variant: #404753;

$primary: #bccf77;

$primary_container: #3e4c00;

$primary_fixed: #d8ec90;

$primary_fixed_dim: #bccf77;

$scrim: #000000;

$secondary: #e2bbdb;

$secondary_container: #5a3d58;

$secondary_fixed: #ffd6f8;

$secondary_fixed_dim: #e2bbdb;

$shadow: #000000;

$source_color: #a8aeb5;

$surface: #0f141a;

$surface_bright: #353940;

$surface_container: #1c2026;

$surface_container_high: #262a31;

$surface_container_highest: #31353c;

$surface_container_low: #181c22;

$surface_container_lowest: #0a0e14;

$surface_dim: #0f141a;

$surface_tint: #bccf77;

$surface_variant: #404753;

$tertiary: #a9c8f7;

$tertiary_container: #28486f;

$tertiary_fixed: #d3e3ff;

$tertiary_fixed_dim: #a9c8f7;

