
urxvt*scrollBar:        false
urxvt*depth:            32 
urxvt*dynamicColors: on
URxvt.font: xft:drift:size=10
URxvt.scrollstyle: plain
urxvt.background: [80]#201310
urxvt*color0: #201310
urxvt*color1: #6092a0
urxvt*color2: #447ca0
urxvt*color3: #e04857
urxvt*color4: #a06772
urxvt*color5: #a28c81
urxvt*color6: #c47769
urxvt.foreground: #fcfcfc
urxvt*color7: #4a65a0
urxvt*color8: #602e31
urxvt*color9: #5486c8
urxvt*color10: #fad5a7
urxvt*color11: #f2726b
urxvt*color12: #c89cc0
urxvt*color13: #c1c8c8
urxvt*color14: #f6b58d
urxvt.colorBD: #6285c8
urxvt*color15: #6285c8
