// Keep this layout aligned with hypr/monitors.conf.
output "DP-4" {
    mode "3840x2160@60.000"
    scale 1
    transform "90"
    position x=0 y=0
}

output "DP-5" {
    mode "3840x2160@60.000"
    scale 1
    transform "normal"
    position x=2160 y=675
}

output "HDMI-A-2" {
    mode "3840x2160@60.000"
    scale 1
    transform "normal"
    position x=6000 y=675
}
