@import 'colors.css';

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: FiraCode Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: @surface_container_lowest;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @surface_container_low;
  color: @on_surface;
}

#workspaces button.active, #workspaces button.active:hover {
  color: @inverse_on_surface;
  background-color: @inverse_surface;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @on_surface;
  background-color: @surface_container;
}

#workspaces button.urgent {
  color: @on_error;
  background-color: @error;
}

#cpu,
#memory,
#battery,
#network,
#bluetooth,
#custom-headphones,
#custom-nowplaying,
#custom-power,
#window,
#language,
#clock,
#power-profiles-daemon {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: @secondary;
  color: @on_secondary;
}

#custom-nowplaying {
  background-color: @primary_container;
  color: @on_primary_container;
}

#custom-logo1 {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: @primary;
}

#window {
  background-color: @primary;
  color: @on_primary;
}

#bluetooth.off {
  background-color: @error;
  color: @on_error;
}

#custom-headphones.disconnected {
  background-color: @error;
  color: @on_error;
}

#memory {
}

#language {
}

#power-profiles-daemon {
}

#cpu {
}

#battery {
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @error;
  color: @on_error;
}

#battery.charging {
  background-color: #a6e3a1;
  color: #181825;
}

#clock {
  background-color: @tertiary;
  color: @on_tertiary;
}

#custom-power {
  background-color: @error;
  color: @on_error;
}

#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#backlight-slider trough {
    min-height: 80px;
    min-width: 10px;
    border-radius: 5px;
    background-color: black;
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: red;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
